<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/host/authentication">Start stream</a>
    <h3>Schedule Meeting</h3>
    <form action="/" method="POST">
        <input type="text" name="fullname" placeholder="Fullname" required>
        <input type="text" name="mTopic" placeholder="Topic" required>
        <h5>Start</h5>
        <input type="date" name="mDate" id="meeting_date" required>
        <!--<input type="time" name="mTime" step="10800" required>-->
        <input type="number" name="hour_hand" id="hr_id" inputmode="numeric" style="width:3em"
               autocomplete="off"  min="1"  max="12" placeholder="hh" required/>
        <input type="number" name="minute_hand" id="min_id" inputmode="numeric" style="width:3em"
               autocomplete="off"  min="0"  max="59" placeholder="mm" required/>
        <select name="prompt" id="time_prompt" required>
        <option value="am">AM</option>
        <option value="pm">PM</option>
        </select>


        <h5>Duration</h5>
        <select name="mHour" id="duration_hour">
        <option value="1">1 hour</option>
        <option value="2">2 hours</option>
        <option value="3">3 hours</option>
        </select>
        

        <input type="submit" value="Schedule">
    </form>

    <script>
        const meetingDate = document.getElementById('meeting_date');
        let today = new Date();
        let n_month = parseInt(today.getMonth())+1;
        let n_day = today.getDate();

        if (n_day < 10){
            n_day = `0${n_day}`;
        }
        if (n_month < 10){
            n_month = `0${n_month}`;
        }

        let minDate = `${today.getFullYear()}-${n_month}-${n_day}`;
        meetingDate.setAttribute("min", `${minDate}`);
        
    </script>
</body>
</html>