Flask==2.0.1
click==7.1.2
Flask-Mail==0.9.1
Flask-SocketIO==5.1.0
Flask-WeasyPrint==0.6
Flask-Compress
eventlet
gevent
gevent-websocket
gunicorn
pymongo~=3.11.4
dnspython
requests~=2.25.1
passlib~=1.7.4
celery==5.1.0
redis==3.5.3
tzdata
