@import url('./karla.css');

:root {
	--primary-color: #000033;
	--secondary-color: #f18900;
    
}

html,
body {
	height: 100vh;
	overflow: hidden;
    background-color: #000033c9 !important;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Karla', sans-serif !important;
}

.app-nav{
    background-color: transparent;
    color: #fff;
    padding: 20px 0 !important;
}
.nav-menu{
    text-align: right;
    font-weight: bold;
}
.nav-link{
    color: #fff !important;
    font-size: 13pt;
}
.main-title{
    font-weight: bolder;
}

.text-bold{
    font-weight: bold;
}

#inputOTP:invalid + #searchHelp::after{
    position: absolute;
    content: 'OTP must be alphanumeric ✖';
    color:#f18900;
    font-size: 10pt;
    font-weight: bolder;
}

#inputOTP:valid + #searchHelp:after{
    position: absolute;
    content: 'OTP Validation: ✓';
    color:#f18900;
    font-size: 10pt;
    font-weight: bolder;

}
.btn-stream{
    background-color: transparent !important;
    color: #fff !important;
    font-size: 12pt !important;
    font-weight: bolder !important;
    border: 2px solid var(--secondary-color) !important;
}
input{
    background-color: transparent !important;
    color: #fff !important;
    border: 1px solid var(--secondary-color) !important;
}
input:focus{
    background-color: var(--primary-color) !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}

input::placeholder{
    color: #ffffff93 !important;
}

.dropdown-menu{
    background-color: #000033ab !important;
    border: 1px solid #fff!important;
}
.dropdown-item{
    color: var(--secondary-color) !important;
    font-weight:500;
}
.dropdown-item:hover{
    color: #fff !important;
    background-color:transparent !important;
    font-weight:500;
}
.dropdown-divider{
    color:#fff !important;
}
a.report-card{
    text-decoration: none !important;
    background: transparent !important;
    color: #fff !important;
    border: 1px solid #f18900;
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.centered {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}
.text-right{
    text-align: right;
}
.no-results{
    width: calc(1.5 * 10vw);
    text-align: center;
}

/* mobile screens*/
@media (max-width: 1024px){
    html,
    body {
        height: 100vh;
        overflow-y: scroll;
        background-color: #000033c9 !important;
    }
    .nav-menu {
        font-weight: normal;
    }
    .no-results{
        width: calc(1.5 * 20vw);
        text-align: center;
    }
}

@media (max-width: 689px){
    .no-results{
        width: calc(2 * 20vw);
        text-align: center;
    }
}
span.icon-menu{
    color: #fff !important;
    font-size: 16pt;
}
button.navbar-toggler{
    border: 1px solid var(--secondary-color);
}
button.navbar-toggler:focus{
    border: 1px solid #fff;
    box-shadow: none;
}
