@import url('./karla.css');
:root {
	--primary-color: #000033;
	--secondary-color: #f18900;
    --scrollbarBG: #000033ea;
    --thumbBG: #90A4AE;
    
}

html,
body {
	height: 100vh;
	overflow: hidden;
    background-color: #000033c9 !important;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Karla', sans-serif !important;
}

.report_table::-webkit-scrollbar{
	width: 10px;
  }
.report_table{
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
.report_table::-webkit-scrollbar-track{
	background: var(--scrollbarBG);
  }
.report_table::-webkit-scrollbar-thumb{
	background-color: var(--thumbBG) ;
	border-radius: 6px;
	border: 4px solid var(--scrollbarBG);
  }

.main{
    width: 85%;
    margin: 0 auto;
    padding: 0 20px;
}
.app-nav{
    background-color: transparent;
    color: #fff;
    padding: 20px 0 !important;
}
.nav-menu{
    text-align: right;
    font-weight: bold;
}
.nav-link{
    color: #fff !important;
    font-size: 13pt;
}
.main-title{
    font-weight: bolder;
}
span.icon-menu{
    color: #fff !important;
    font-size: 16pt;
}
button.navbar-toggler{
    border: 1px solid var(--secondary-color);
}
button.navbar-toggler:focus{
    border: 1px solid #fff;
    box-shadow: none;
}

.text-bold{
    font-weight: bold;
}

.btn-stream{
    background-color: transparent !important;
    color: #fff !important;
    font-size: 12pt !important;
    font-weight: bolder !important;
    border: 2px solid var(--secondary-color) !important;
}
.meeting_info{
    color: #fff;
}
.meeting_info > p{
    margin-bottom: 4px !important;
}
.report_table{
    max-height: 300px;
    overflow-y: scroll;
}
table.table{
    color: #fff !important;
}
.report_table table thead{ 
    position: sticky; 
    top: 0; 
    z-index: 1; 
    background-color: #000033ea !important;
}

.dropdown-menu{
    background-color: #000033ab !important;
    border: 1px solid #fff!important;
}
.dropdown-item{
    color: #fff !important;
    font-weight:500;
}
.dropdown-item:hover{
    color: #fff !important;
    background-color:transparent !important;
    font-weight:500;
}
.dropdown-divider{
    color:#fff !important;
}
@media (max-width: 1024px){
    body{
        overflow-y: auto;
    }
}

@page { size: A4; margin: 1cm; orientation: portrait;}
@media print {
    *{color: #000 !important;}
    html, body{
        background-color:#fff!important;
        color: #000!important;
    }
    table.table{
        border: 1px solid #000;
    }
    nav.navbar > .app-nav, .print_btn{
        display: none;
    }
    .report_table table thead{ 
        position: static!important; 
        z-index: 0; 
        background-color: transparent !important;
    }
    .report_table{
        max-height: max-content!important;
        overflow: hidden!important;
    }
}
